<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>


<div class="container mt-4 d-flex justify-content-around">
  <div class="container d-flex flex-column justify-content-between w-60">
    <div class="container d-flex justify-content-start">
      <h2 class="btn btn-primary"><%= @list.movies.count %> movies</h2>
    </div>
    <div class="container d-flex flex-column justify-content-between">
      <div class="container cards-container mt-3 d-flex flex-wrap justify-content-start">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-trip m-3 d-flex flex-column justify-content-between">
            <img src=<%= bookmark.movie.poster_url %> />
            <div class="card-trip-infos">
              <div>
                <h2><%= bookmark.movie.title %> - <%= bookmark.movie.rating %> ⭐</h2>
                <p><%= bookmark.movie.overview %></p>
              </div>
            </div>
            <div class="container d-flex justify-content-between align-items-center mb-3">
              <h2><i class="fa-solid fa-comment"></i> '<%= bookmark.comment %>'</h2>
              <%= link_to "delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container w-40">
    <h1 class="mx-auto my-3" style="text-align: center;">Add a new bookmark</h1>
    <div class="container mx-auto">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie, as: :select %>
        <%= f.input :comment %>
        <%= f.submit "Add Bookmark", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
